 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 .wether{
  background-color: rgb(0, 71, 152);
  padding: 4px 15px;
  left: 5px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin-top: 10px;
 }

 .wether:hover{
  animation-name: example;
  animation-duration: 100ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

 }

 @keyframes example {
  from {background-color: rgb(0, 84, 180);
  font-size: 15px;
  }
  to {background-color:rgb(177, 25, 1);
    font-size: 16px;
}
}

 body{
    width: 100%;
    min-height: 100vh;
    --bgcolor:rgb(200, 200, 200);
    --fontcolor:rgb(34, 34, 34);
    --titeleColor:rgb(223, 223, 223);
    --btncolor:rgb(212, 212, 212);
    --btnbg:rgba(77, 77, 77, 0.692);
  }

  .dark{
    --bgcolor:rgb(44, 54, 61);
    --fontcolor:rgb(223, 223, 223);
    background: var(--bgcolor);
    color: var(--fontcolor) !important;

    --countrybgColor:rgb(25, 37, 46);
    --titeleColor:rgb(25, 37, 46);

    --btncolor:rgb(206, 206, 206);
    --btnbg:rgb(41, 41, 41);

  }


  .container{
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: space-between;
  }

  .container2{
    width: 100%;
    padding: 40px;

    display: grid;
    align-items: center;
    grid-template-columns: 9fr 1fr;
    justify-content: space-between;
    grid-gap: 40px;
  }



  .container:nth-child(1){
    box-shadow: 0 0 5px rgb(116, 116, 116);
    background-color: var(--countrybgColor);
}

  button{
    outline: none;
    border: 0;
    background: transparent;
    color: var(--fontcolor);
  }

  .toggle{
    font-size: 15px;
    color: var(--fontcolor);
  }
  .toggle i{
    padding-right: 5px;
    cursor: pointer;
  }

  .form-control{
    width: 400px;
    height: 50px;
    box-shadow: 0 0 5px rgb(116, 116, 116);
    position: relative;

    border-radius: 5px;
    overflow: hidden;
}

.backtoTop{
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: var(--btnbg);
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  color: var(--btncolor);
  border: 5px solid white;
}

.form-control input{
    width: 100%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 16px;

    font-size: 15px;
    letter-spacing: 0.5px;
    color: var(--fontcolor);
    background-color: var(--countrybgColor);
 }

.form-control i{
    position: absolute;
    top: 1rem;
    right:1rem;
    
}

.dropDownCon{
  width: 200px;
  position: relative;
}

.dropDown{
  width: 100%;
  padding: 17px 14px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgb(116, 116, 116);
  cursor: pointer;
  background-color: var(--countrybgColor);
}

.dropDown{
  letter-spacing: 0.5px;
}

.drop{
  width: 100%;
  padding: 10px 14px;

  box-shadow: 0 0 5px rgb(116, 116, 116);
  border-radius: 5px;
  position: absolute;
  background: var(--bgcolor);
  top: 4rem;
  border-radius: 5px;
  overflow: hidden;

  cursor: pointer;
}


.drop p{
  margin: 1px 0px;
  padding: 2px 2px;
}

.drop p:hover{
  background-color: #c4c4c4;
  border-radius: 5px;
}

.countries{
  padding: 40px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.country{
  overflow: hidden;
  min-height:350px;
  width:300px;
  box-shadow: 0 0 5px rgb(116, 116, 116);
  border-radius: 5px;
  background-color: var(--countrybgColor);
}
.myspace{
  margin-top: 1px;
  margin-bottom: 7px;
  margin-left: 10px;
}
span{
  background-color: green;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.country_img{
  height: 250px;
}

.country-info h5{
  padding:8px 0px;
  font-size: 20px;
  letter-spacing: 1px;
}

.country-info p>strong{
font-weight: 600;
letter-spacing: 0.5px;

}

/* .country_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.showDropDown{
  display: none;
}

i{
  cursor: pointer;
}

.countryModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background-color: var(--bgcolor);
padding: 30px;
}

.back{
  position: absolute;
  top:10%;
  left: 30px;
  background:var(--countrybgColor);
  box-shadow: 0 0 5px rgb(116, 116, 116);
  padding: 10px 17px;

  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leftModal{
  width: 50%;
}
.leftModal img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightModal{
 width: 50%;
 margin-left: 40px;
}

.modelinfo{
  display: flex;
  justify-content: space-between;
}
.rightModal h1{
  margin: 10px 0;
  letter-spacing: 1px;
}

.inner p{
  letter-spacing: 1px;

}

.inner p>strong{
 font-weight: 600;
}

.show{
  display: none;
}

.countryName{
  padding: 7px;
  background-color:var(--titeleColor);
  color: var(--fontcolor);
}



@media only screen and (max-width:600px) {
  .myspace{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .container2{
    width: 100%;
    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
  }

  .form-control input{
    width: 80%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 16px;

    font-size: 15px;
    letter-spacing: 0.5px;
    color: var(--fontcolor);
    background-color: var(--countrybgColor);
 }

 .form-control{
  width: 300px;
  height: 50px;
  box-shadow: 0 0 5px rgb(116, 116, 116);
  position: relative;

  border-radius: 5px;
  overflow: hidden;
}

.back{
  position: absolute;
  top:8%;
  left: 30px;
  background:var(--countrybgColor);
  box-shadow: 0 0 5px rgb(116, 116, 116);
  padding: 10px 17px;

  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.modal{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leftModal{
  width: 100%;
}
.leftModal img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightModal{
 width: 100%;
 margin-left: 40px;
}

.modelinfo{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;

}
.rightModal h1{
  margin: 10px 0;
  letter-spacing: 1px;
}

};